.msg_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 800px) {
    .msg_container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--neutral-100);
    }
    .msgs_container{
        height: 90dvh;
        overflow-y: scroll;
    }
}