
.delete_warning_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-1000-alpha-06);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.delete_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    background-color: var(--neutral-200);
}
.delete_btns_container{
    display: flex;
    gap: 20px;
}
.delete_btn{
    background-color: red;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--neutral-000);
    font-weight: 600;
}
.delete_no_btn{
    background-color: var(--unread-msg);
}