
.contact_width{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.contact_width:hover{
    background-color: var(--neutral-200);
}
.contact_flex{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    color: black;
}

/* Foto de perfil */
.img_container{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
}
.contact_profile_pic{
    width: 100%;
    border-radius: 50%;
}

/* Información del mensaje */
.contact_msg_info{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}
.contact_msg_top_row, .contact_msg_bottom_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.contact_name{
    font-size: 16px;
    font-weight: 400;
}
.conact_last_msg{
    margin-right: auto;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 220px;
}

.chat_message_status{
    font-size: 11px;
}
.contact_last_msg_at, .conact_last_msg{
    font-size: 12px;
    color: var(--neutral-1000-alpha-06);
}
.conact_last_msg{
    font-size: 13px;
}
.check_seen{
    color: var(--seen-msg);
}
.no_messages{
    font-style: italic;
    font-size: 12px;
}
.contact_unread_msgs{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: var(--neutral-000);
    background-color: var(--unread-msg);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .conact_last_msg{
        width: 70dvw;
    }
}

@media screen and (max-width: 460px) {
    .conact_last_msg{
        width: 50dvw;
    }
}