
.contact_searchBar_container{
    display: flex;
    align-items: center;
    background-color: var(--neutral-200);
    position: relative;
    border-radius: 20px;
    margin: 20px 0;
}
.contact_searchBar_container:has(input:focus){
    outline: 1px solid var(--neutral-900);
}
.search_bi{
    padding: 10px;
    width: 10%;
}
#contact_searchBar{
    border: none;
    background-color: transparent;
    width: 90%;
    padding-right: 5px;
}
#contact_searchBar:focus{
    outline: none;
}