.chat_header{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 5px 15px 5px 8px;
    background-color: var(--neutral-000);
    box-shadow: 2px 0 2px gray;
}
.show_contact_info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: auto;
    background-color: transparent;
}
.chat_img{
    width: 100%;
}
.chat_name{
    font-size: 16px;
    font-weight: 400;
}