.send_message{
    display: flex;
    align-items: center;
    width: 95%;
    padding: 7px 15px;
    margin-bottom: 20px;
    background-color: var(--neutral-000);
    border-radius: 30px;
}
.send_message:has(input:focus){
    outline: 1px solid var(--neutral-1000-alpha-06)
}
.send_message_input{
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    resize: none;
    height: 1rem;
}
.send_message_input:focus{
    outline: none;
}
.send_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--unread-msg);
    padding: 5px;
    border-radius: 50%;
}
.send_message_btn{
    color: var(--neutral-000);
    transform: translate(-1px, 1.5px);
    /* 
    Sin la transformación, el ícono queda centrado, pero al tener una forma rara, pareciera que esta ligeramente alto y a la derecha. Se puede ver si descomenta el borde que se encuentra abajo y comenta la transformación. 
    Con esta transformación, parece centrado y no se rompe para ningpun ancho. 
    */
    /* border: 1px solid red; */
}