/* Estas clases son las mismas que se usan en el form para eliminar mensajes */

.messages_popup_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-1000-alpha-06);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.messages_popup_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    background-color: var(--neutral-200);
}
.messages_popup_btns_container{
    display: flex;
    gap: 20px;
}
.messages_popup_btn{
    background-color: var(--warning-color);
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--neutral-000);
    font-weight: 600;
}
.messages_popup_no_btn{
    background-color: var(--unread-msg);
}
.edit_span, .delete_span{
    color: var(--unread-msg);
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 0 1px var(--neutral-900);
}
.edit_container{
    gap: 15px;
    width: min(95%, 400px);
    height: 250px;
}

.edit_textarea{
    resize: none;
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    height: 80px;
    border: 1px solid var(--unseen-msg);
    border-radius: 5px;
    margin-bottom: auto;
}
.error_edit{
    font-size: 12px;
    color: var(--warning-color);
}