
.home_main{
    display: flex;
}
.no_chat_opened{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 2rem;
    color: var(--unread-msg);
    text-shadow: 1px 1px 1px gray;
}