.msg_horizontal_position{
    display: flex;
    font-size: 14px;
    line-height: 1.25rem;
}
.msg_flex{
    display: flex;
    max-width: 350px;
    background-color: var(--neutral-000);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
.message_hour{
    display: flex;
    align-items: end;
    font-size: 10px;
    color: var(--neutral-1000-alpha-06);
}
.own_message_bg_color{
    background-color: var(--msg-bg-color);
}
.own_message_justify{
    justify-content: end;
}