.msg_horizontal_position{
    display: flex;
    font-size: 14px;
    line-height: 1.25rem;
}
.msg_flex{
    display: flex;
    gap: 10px;
    position: relative;
    max-width: 350px;
    border-radius: 5px;
    background-color: var(--neutral-000);
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.425);
    padding: 5px 10px;
    margin-bottom: 20px;
}
.message_text{
    word-break: break-all;
}
.message_hour{
    display: flex;
    font-size: 10px;
    color: var(--neutral-1000-alpha-06);
}
.own_message_bg_color{
    background-color: var(--msg-bg-color);
}
.own_message_justify{
    justify-content: end;
}

.message_options{
    display: none;
    gap: 10px;
    position: absolute;
    right: 5%;
    top: 90%;
    z-index: 10;
}
.msg_flex:hover > .message_options{
    display: flex;
}
.msg_option{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-000);
    box-shadow: 0 0 2px gray;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 500%;
}